<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='/js/jquery.js') }}"></script>
    <title>图表展示</title>
</head>

<body>
    <button id="btn_1">点击我展示图表</button>

    <script>
        $("#btn_1").click(function () {
            $.ajax({
                url: '/get_data',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    // todo
                    console.log(data);
                },
                error: function (data) {
                    alert('Ajax请求失败！');
                },
            });
        })


    </script>
</body>

</html>