<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
    <title>图表展示</title>
</head>

<body>

    {% if username %}
        欢迎你回来，{{ username }} <br>
    {% else %}
        游客请先<a href="/register">登录</a> 
    {% endif %}

    <button id="btn_1">点击echarts.js表</button>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>

    <script>

        $("#btn_1").click(function () {
            $.ajax({
                url: '/get_data',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    // todo
                    console.log(data);
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('main'));

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: '水果销量表'
                        },
                        tooltip: {},
                        legend: {
                            data: ['销量']
                        },
                        xAxis: {
                            data: data['水果名称']
                        },
                        yAxis: {},
                        series: [{
                            name: '销量',
                            type: 'bar',
                            data: data['水果销量']
                        }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);




                },
                error: function (data) {
                    alert('Ajax请求失败！');
                },
            });
        })


    </script>
</body>

</html>