<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
</head>
<body>

    <form action="/register" method="POST">
        请输入用户名：<input type="text" name="username" id="username"> <br>
        <!-- 请输入用户名1：<input type="text" name="username" id="username"> <br>         -->
        请输入密码：<input type="password" name="passwd" id="passwd"> <br>
        <input type="submit" value="注册">
    </form>
</body>
</html>